<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Acerca De
            <small>Subheading</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Inicio</a>
            </li>
            <li class="active">Acerca De</li>
        </ol>
    </div>
</div>
<!-- /.row -->
<!-- Intro Content -->
<div class="row">
    <div class="col-md-6">
        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
    </div>
    <div class="col-md-6">
        <h2>Go&ntilde;i y Asociados, S.A.</h2>
        <p style="text-align:justify;">
            En Goñi y Asociados, S.A. somos especialistas en servicios de asesoría inmobiliaria, con 58 años en el mercado hemos marcado una clara diferencia al mantenernos en el medio como una de las inmobiliarias con mayor solidez en el ramo a nivel naciona.
            Nuestra Misión: Proveer a nuestros clientes un servicio de calidad, confianza, confidencialidad y seguridad con atención personalizada en cualquier operación inmobiliaria.
            Nuestra Visión:  Ser una empresa líder en el mercado inmobiliario y superar las necesidades y expectativas de nuestros clientes.
            Nuestro Objetivo:  Asesorar y garantizar a nuestros clientes, operaciones cien por ciento transparentes.
            Desde su fundación, el Sr. Jorge López Vásquez, el Sr. Jorge V. Goñi Zavala y su grupo han asesorado con ética la toma de decisiones de múltiples personas, familias y empresas, en beneficio del patrimonio que representan los bienes raíces.
            Orgullosamente estamos presentes, agradeciendo a Dios la fuente de trabajo con la cual llevamos prosperidad y bienestar anuestras familias y a la comunidad.
            En Goñi y Asociados, S.A…. Conocemos nuestro terreno.
        </p>
    </div>
</div>
